* {
    padding: 0;
    margin: 0;
}

.section01 {
    background-color: black;
    padding: 15vh;
    color: antiquewhite;
}

.section02 {
    background-color: white;
    padding: 15vh;
    color: black;
}

.section03 {
    background-color: black;
    padding: 20vh;
    color: white;
}